/*공통 요소*/

.inner{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0px;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
} /*대체 텍스트 사용 방법*/

/*header*/

.h-container{
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 999;
}
.h-top{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    padding: 0px 20px;
    box-sizing: border-box;
}
.h-top-menu{
    display: flex;
    height: 100%;
}
.h-top-menu a{
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    padding-left: 12px;
    font-size: 12px;
}
.login:after, .sign-up:after{
    content: "";
    width: 1px;
    height: 10px;
    background: #333;
    margin-left: 12px; 
}

.icon-insta:after{
    content: "";
    width: 14px;
    height: 14px;
    display: flex;
    background-image: url(../images/icon_sns_01.png);
    background-repeat: no-repeat;
    background-size: 56px 14px;
}

.icon-facebook:after{
    content: "";
    width: 14px;
    height: 14px;
    display: flex;
    background-image: url(../images/icon_sns_01.png);
    background-repeat: no-repeat;
    background-size: 56px 14px;
    background-position: -14px 0px ;
}

/*h-body*/
.h-body{
    width: 100%;
    height: 90px;
    background: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}
.logo{
    width: 109px;
    height: 47px;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/h1_logo.png) no-repeat center center / 100% ;
}
.gnb{
    height: 100%;
}

.gnb ul{
    display: flex;
    height: 100%;
}

.gnb ul li{
    padding: 0px 30px;
    height: 100%;
}

.gnb ul li a{
    display: block;
    line-height: 90px;
    height: 100%;
    font-weight: bold;
    color: #333;
}

.gnb ul li a:after{
    content: "";
    width: 0px;
    height: 6px;
    display: block;
    background: #f6ca00;
    margin: -6px auto 0px; /*실질적으로 왼쪽에서 오른쪽으로 열리지만 margin auto를 통해 가운데서 양쪽으로 열리는 느낌*/
    transition: 500ms;
}

.gnb ul li:hover{
    color: #f6ca00;
}
.gnb ul li:hover a:after{
    width: 100%;
}

/*mobile-btn*/
.mobile-btn{
    width: 25px;
    height: 22px;
    display: none;
}
.mobile-btn a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 300ms 500ms; /*group 속성 duration, delay*/
}
.mobile-btn a span{
    display: block;
    width: 100%;
    height: 4px;
    background: #333;
    position: absolute;
    left: 0px;
    transition-duration: 300ms;
}
.line01{
    top: 0px;
    transition-delay: 200ms;
}
.line02{
    top: 9px;
}
.line03{
    top: 18px;
    transition-delay: 200ms;
}

.mobile-btn a:hover .line02{
    transform: scaleX(0);
}
.mobile-btn a:hover .line03{
    transform: rotate(90deg);
    top: 9px;
}
.mobile-btn a:hover .line01{
    top: 9px;
}
.mobile-btn a:hover{
    transform: rotate(45deg);
}


/*visual*/

.visual-container{
    width: 100%;
    height: 650px;
    background: url(../images/mainvisual.jpg) no-repeat center center / cover;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}


/*content01*/
.content01{
    width: 100%;
    padding: 60px 0px 0px;
}

/*brand*/
.brand-wrapper{
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}
.item{
    flex-grow: 1;
    width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom: solid 6px #333;
}
.item:after{
    content:"";
    width: 100%;
    height: 6px;
    background: #f6ca00;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 500ms 100ms;
    transform: scaleX(0);
}
.item:hover:after{
    transform: scaleX(1);
}

.item a{
    display: block;
    width: 100%;
    height: 100%;
}

.item a figcaption{
    padding: 25px 25px 25px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item a figcaption .item-text{
    height: 90px;
}
.item a figcaption .item-text span{
    font-size: 22px;
    color: #333;
    display: block;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 600;
}
.item a figcaption .item-icon{
    display: flex;
    gap: 6px;
    font-size: 12px;
    color: #333;
    align-items: center;
}
.item a figcaption .item-icon:before{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/btn_link.png) no-repeat left top / 40px;
    transition: 300ms;
    display: block;
}
.item a:hover figcaption .item-icon:before{
    background-position: -20px 0px;
}


/*franchise*/

.franchise-wrapper{
    display: flex;
    gap: 30px;
}

.title-box{
    background: #f6ca00;
    padding: 50px 30px;
    flex-grow: 1;
    box-sizing: border-box;
    flex-shrink: 0;
}

.title-box .content-title{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.title-box .content-title:after{
    content: "";
    width: 40px;
    height: 4px;
    background: #333;
    display: block;
    margin-top: 40px;
}

.title-box .content-text{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    font-weight: bold;
}

.franchise-list{
    display: flex;
    gap: 30px;
}


/*hansot-wrapper*/
.hansot-wrapper{
    margin-top: 60px;
    width: 100%;
    height: 600px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.hansot-wrapper .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/main_visual_02.jpg) no-repeat center center / cover;
    transition: 3000ms;
    z-index: 1;
}

.hansot-wrapper .bg:hover{
    transform: scale(1.05);
}

.hansot-wrapper .title-box{
    width: 370px;
    height: 100%;
    background: rgba(66,66,66,0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding-top: 80px;
    box-sizing: border-box;
}
.hansot-wrapper .title-box .content-title{
    color: #fff;
}
.hansot-wrapper .title-box .content-title:after{
    background: #fff;
}
.hansot-wrapper .title-box .content-text{
    color: #ddd;
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 1.5;
}

.link-btn{
    display: inline-block;
    padding: 20px 50px;
    border: solid 2px #fff;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 25px;
    bottom: 60px;
    transition: 500ms;
}
.link-btn:hover{
    color: #333;
    background: #fff;
}


/*content02*/
.content02{
    width: 100%;
    padding: 60px 0px 100px;
}
/*food*/
.food-wrapper{
    width: 100%;
    height: 450px;
}

.food-wrapper .food-item{
    display: flex;
    width: 100%;
    height: 100%;
}
.food-wrapper .food-item .food-img{
    width: 68.37%;
    overflow: hidden;
}
.food-wrapper .food-item .food-img img{
    width: auto;
}
.food-wrapper .food-item .title-box{
    width: 370px;
    background: #eee;
    padding: 50px 30px;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom: solid 6px black;
    box-sizing: border-box;
}

.food-wrapper .food-item .title-box:after{
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background:#f6ca00;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transform: scaleX(0);
    transition: 500ms
}

.food-wrapper:hover .food-item .title-box:after{
    transform: scaleX(1);
}

.food-wrapper .food-item .title-box .content-text span{
    display: block;
    font-size: 14px;
    letter-spacing: -1px;
}

.food-wrapper .food-item .item-icon{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 13px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.food-wrapper .food-item .item-icon:before{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/btn_link.png) no-repeat left top / 40px;
    transition: 300ms
}

.food-wrapper:hover .food-item .item-icon::after{
    transform: scaleX(1);
}
.food-wrapper:hover .food-item .item-icon:before{
    background-position: -20px 0px;
}


/*story*/
.story-wrapper{
    margin-top: 100px;
}
.story-wrapper .story-title{
    width: 100%;
    height: 24px;
    margin-bottom: 60px;
    position: relative;
    top: 0px;
    left: 0px;
}
.story-wrapper .story-title:after{
    content: "";
    width: 100%;
    height: 16px;
    background: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}
.story-wrapper .story-title span{
    font-size: 24px;
    line-height: 24px;
    color: #333;
    font-weight: bold;
    background-color: #fff;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-right: 24px;
}

.story-list{
    display: flex;
    gap: 30px;
}
.story-list li{
    position: relative;
    top: 0px;
    left: 0px;
}
.story-list li .story-text{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #333;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 30px;
    box-sizing: border-box;
    justify-content: space-between;
}
.story-list li .story-text:after{
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    background: url(../images/icon_cont_more.png) no-repeat left top /12px;
}
.story-list li .story-text span{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.story-list li:hover .story-text span{
    color:#f6ca00
}
.story-list li:hover .story-text:after{
    background-position: -6px 0px;
}


/*footer*/

.footer-wrapper {
    background:#f6ca00;
    width: 100%;
    padding-top: 20px;
}

.ft-menu {
    width: 100%;
    height: 100px;
    display: block;
}
.ft-list{
    display: flex;
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    flex-grow: 1;
}
.ft-item{
    margin: 0 auto;
}
.ft-item a{
    color: black;
    font-size: 16px;
}
.ft-item-follow:before{
    content: "";
    display: inline-block;
    margin-right: 30px;
    width: 2px;
    height: 14px;
    justify-content: center;
    background: #333;
    position: relative;
}
.ft-menu .franchise-icon{
    display: inline-block;
    background: url(../images/logo_webaward2017.png) no-repeat left top;
    background-size: 100% auto;
    width: 170px;
    height: 80px;
}
.franchise-icon span{
    display: none;
}


 


/*반응형*/
@media screen and (max-width:1170px){
    .inner{
        width: 100%;
    }
}

/*1024*/
@media screen and (max-width: 1024px){
    .container, 
    .h-body{
        height: 60px;
    }

    .h-top,
    .gnb {
        display: none;
    }
    .h body{
        padding: 0px 15px;
    }
    .logo{
        width: 25px;
        height: 26px;
    }
    .logo a{
        background-image: url(../images/m_h1_logo.png)
    }
    .mobile-btn{
        display: block;
    }

    /*visual*/
    .visual-container{
        height: 380px;
    }

    /*content01*/
    .content01 {
        padding: 30px 10px 60px;
        box-sizing: border-box;
    }

    .brand-wrapper,
    .franchise-wrapper,
    .franchise-list{
        gap: 20px;
    }
    .item a figcaption .item-text span{
        display: inline;
        font-size: 16px;
    }

    /*franchise*/

    .franchise-wrapper .title-box {
        padding: 60px 10px;
    }

    /*food*/
    .food-wrapper .food-item .title-box{
        width: 410px;
    }
    .food-wrapper .food-item .title-box .content-text span{
        display: inline;
    }

    /*story*/

    .story-wrapper{
        display: none;
    }

}

/*768*/
@media screen and (max-width: 768px){
    .visual-container{
        background-image: url(../images/mainvisual-m.jpg);
    }


    /*franchise-wrapper*/
    .franchise-wrapper{
        max-width: 640px; /*가로 최대 크기*/
        margin: 0 auto;
        flex-direction: column;
        padding: 0px;
        gap: 12px;
    }
    .brand-wrapper,
    .franchise-list{
        gap: 16px;
    }


    /*hansot-wrapper*/
    .hansot-wrapper{
        height: 550px;
        box-sizing: border-box;
        padding: 36px 24px;
    }

    .hansot-wrapper .title-box{
        width: 100%;
        padding: 50px 20px;
    }

    .hansot-wrapper .title-box .content-title{
        font-size: 24px;
        line-height: 1.5;
    }

    /*food*/

    .food-wrapper{
        height: auto;
        max-width: 640px;
        margin: 0 auto;
    }

    .food-wrapper .food-item{
        flex-direction: column;
    }
    .food-wrapper .food-item .food-img,
    .food-wrapper .food-item .food-img img,
    .food-wrapper .food-item .title-box{
        width: 100%;
    }

    .food-wrapper .food-item .title-box{
        height: 350px;
    }

    .food-wrapper .food-item .title-box .content-title{
        font-size: 26px;
        line-height: 1.5;
    }
    .food-wrapper .food-item .title-box .content-title:after{
        margin-top: 30px;
    }

}

/*414*/
@media screen and (max-width: 414px) {
    .content01{
        padding: 30px 0px 60px;
    }
    .brand-wrapper{
        flex-direction: column;
        padding: 0px 15px;
    }
    .item{
        width: 100%;
    }
    .item a figcaption {
        gap: 0px;
    }

    /*franchise*/
    .franchise-wrapper{
        gap: 0px;
    }
    .franchise-wrapper .title-box{
        padding-bottom: 200px;
    }
    .franchise-list{
        flex-direction: column;
        padding: 0px 15px;
        margin-top: -120px;
    }

    /*food*/
    .food-wrapper{
        box-sizing: border-box;
        padding: 0px 15px;
    }
    .food-wrapper .food-item .title-box{
        padding: 30px 20px;
        height: 360px;
    }

}