


.container{
    position : absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .word-item{
    display: inline-flex;
}

.container .word-item .word-box{
    display: flex;
    position: absolute;
    opacity: 0;
    /*초기값 상태*/
    transition: 500ms linear;
}

.container .word-item .box01 span{
    color: orange;
}
.container .word-item .box02 span{
    color: cyan;
}
.container .word-item .box03 span{
    color: lime;
}

.container .word-item .word-box span{
    font-size: 100px;
    font-weight: 900;
    font-family: "Noto Sans";
    display: flex;
    align-items: center;
    transition: transform 500ms linear;
    transform-origin: center bottom
}
.container .word-item .word-box.in{
    opacity: 1;
}

.container .word-item .word-box.in span{
    transform: rotateX(0deg);
}
.container .word-item .word-box.out span{
    transform: rotateX(90deg);
}

.container .word-item .word-box.reset span{
    transform: rotateX(-90deg);
    transition: none;
}

.container .word-item .word-box.reset span:nth-of-type(1){
    transition-delay: 200;
}

.container .word-item .word-box.reset span:nth-of-type(2){
    transition-delay: 400;
}

.container .word-item .word-box.reset span:nth-of-type(1){
    transition-delay: 600;
}
