


.container{
    position : absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .word-item{
    display: inline-flex;
}

.container .word-item .word-box{
    display: flex;
    position: absolute;
    opacity: 0;/*초기값 상태*/
}

.container .word-item .box01 span{
    color: orange;
}
.container .word-item .box02 span{
    color: cyan;
}
.container .word-item .box03 span{
    color: lime;
}

.container .word-item .word-box span{
    font-size: 100px;
    font-weight: 900;
    font-family: "Noto Sans";
    display: flex;
    align-items: center;
}

.container .word-item .word-box.in span{
    transformX: rotate(45deg);
}

