*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body,html{
    background: #223055;
}
header{
    width: 100%;
    padding: 0px 48px;
    box-sizing: border-box;
    height: 120px;
    border-bottom: solid 1px transparent;
    transition: 300ms;
    overflow: hidden;
}
header:hover{
    border-bottom-color: gray;
}
header.on{
    border-bottom-color: gray;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
}
.gnb{
    width: 70%;
}
.gnb .main-menu{
    display: flex;
    justify-content: space-between;
}
.gnb .main-menu > li{
    position: relative;
    top: 0px;
    left: 0px;
}
.gnb .main-menu > li >a {
    padding: 6px 12px;
    background: transparent;
    border-radius: 24px;
    transition: 300ms;
    color: white;
    font-weight: bold;
}
.gnb .main-menu > li >a:hover{
    background: gray;
}
.gnb .main-menu > li >a.on{
    background: gray;
}
.gnb .main-menu .sub-menu{
    position: absolute;
    top: 60px;
    left: 0px;
    min-width: 170px;
    opacity: 0;
}
.gnb .main-menu .sub-menu.on{
    opacity: 1;
    top: 20px;
    padding: 20px 10px;
    transition: opacity 200ms, top 400ms;
    
}
.gnb .main-menu .sub-menu li a{
    color : white;
    font-size: 14px;
    padding: 6px 0px;
    font-weight: bold;
    display: inline-block;
    transition: 200ms; 
}
.gnb .main-menu .sub-menu li a:hover{
    text-indent: 10px;
}
.gnb .main-menu .sub-menu li a.on{
    text-indent: 10px;
}

