/*
scss의 특징
1. 변수의 활용
2. 태그의 중첩(자식요소를 처리할때 유용)
3. 여러가지 sass용 메서드 활용(mixin, for, if, function 등) 가능
4. import 방식을 채택

scss와 sass의 차이
중첩시 {}유무와 세미콜론
결론적으로 scss가 한번에 구조를 파악하기에 익숙하다.

*/

@import './Component.scss'

container{
    background: gray;
    //mixin호출 @include minin명
    @include flex-center;
    width: 100%;
    max-width: 1200px;
}