.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.gnb {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: flex-end;
}