@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* reset */
* {
    margin: 0px;
    padding: 0px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    outline: 0;
}
main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
figure video {
    width: 100%;
    height:  100%;
    object-fit: cover;
}
h1 {
    position: absolute; 
    top: 8vh;
    left: 6vmax;
}
h1 img {
    width: 12vmax;
}

/* 캐릭터 선택 버튼 */
.list {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;    
    margin-top: -200px;
    transform: skewX(50deg);
    z-index: 3;
}
.list li {
    width: 40px;
    height: 80px;
    float: left;
    margin: 5px;
    background: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s;
}
.list li:nth-of-type(2n) {
    transform: translateY(45px);
}
.list li:hover {
    opacity: 0.8;
}
.list li.on {
    opacity: 1;
}

/* 캐릭터 이름 리스트 */
.title li {
    position: absolute;
    bottom: 20vh;
    left: -6vmax;
    opacity: 0;
    transition: all 0.5s;
}
.title li.on {
    left: 6vmax;
    opacity: 1;
}
.title li p {
    font-family: "Ubuntu";
    font-size: 90px;
    color: #fff;
    letter-spacing: -3px;
}
.title li span {
    font-weight: bold;
    font-size: 30px;
    font-family: "맑은 고딕";
    color: aqua;
    margin-left:  10px;
}

/* 캐릭터 이미지 리스트 */
.pic li {
    position: absolute;
    top: 600px;
    right: -300px;
    opacity: 0;
    transition: 1s;
    z-index: 2;
}
.pic li img {
    width: 70vmax;
    position: relative;
}
.pic li.on {
    top: 0px!important;
    right: -100px!important;
    opacity: 1;
}

/* 2nd custom */
.pic li:nth-of-type(2) {
    top: -600px;
}



/* 꾸밈요소 */
.deco1 {
    position: absolute;
    left: 6vmax;
    width: 200px;
    bottom: 40vh;
}
.deco2 {
    position: absolute;
    left: 6vmax;
    top: 50%;
    margin-top: -300px;
}
.deco2 img {
    position: relative;
}
.deco3 {
    position: absolute;
    right: -400px;
    top: 0px;
}
.deco3 img {
    position: relative;
}