html,
body {
    font-family: 'Noto Sans KR', 'sans-serif';
}

body {
    overflow-x: hidden;
    background: #000;
    height: 500vh;
}

.ir{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 10px;
    margin: -1px;
    clip: rect(0,0,0,0);
}