html,
body {
    font-family: 'Noto Sans KR', 'sans-serif';
}

body {
    overflow-x: hidden;
    background: #000;
    height: 500vh;
}

.ir {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 10px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

/*header*/
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 44px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
    height: 100%;
}

.logo {
    width: 30px;
    height: 100%;
    padding: 0px 8px;
    box-sizing: border-box;
    background: url(../images/basic/logo_white.png) no-repeat center center/ 100%;
}

.gnb {
    display: contents;
    /* 
    contents
        부모 요소의 속성을 자식요소로 변환하는 css
        부모요소는 사라지고, 자식요소들은 부모요소를 대체하게 된다.
    */
}

.gnb-list {
    display: contents;
}

.cs-list {
    display: contents;
}

.cs-list li {
    padding: 0px 8px;
    box-sizing: border-box;
    width: 30px;
    height: 100%;
}

.cs-list li a{
    color: #fff;
    align-items: center;
}