*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.container{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    width: 100vw;
    height: 100vh;
    transition: 1000ms;
}
.container .item{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    transition: 500ms;
    /* visibility: hidden; */
    /* opacity: 0; */
}
.container .item .disk{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background: linear-gradient(120deg, #000, #333333, #000);
    animation: disk-ani 10000ms linear infinite;
    box-shadow: 4px 10px 40px rgba(0,0,0,0.2);
    transition: 500ms;
}
.container .item .disk .disk-inner{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ff9a9e;
    border-radius: 50%;
    border: dashed 3px rgba(255,255,255,0.3)

}

.container .item .disk .disk-inner:after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    background-color: #000000;
}
.container .item.active{
    left: 50%;
    visibility: visible;
    opacity: 1;
}
.container .item.active .disk{
    left: 150px;
}


.container .item:hover .disk{
    left: 40%;     
}


.container .item .cover{
    position: absolute;
    width: 400px;
    height: 400px;
    box-shadow: 2px 10px 40px rgba(0,0,0,0.2);
}
.container .item .cover img{
    width: 100%;
    display: block;
}

.btn-container{
    position: fixed;
    bottom: 50px;
    text-align: center;
    width: 100%;
}
.btn-container button{
    padding: 10px 20px;
    background: #333333;
    color: #ffffff;
    transition: 300ms;
    cursor: pointer;
}
.btn-container button:hover{
    background: #ffffff;
    color:#333333;
}
.btn-container .dot-list{
    display: inline-block;
    padding: 0px 12px;
}
.btn-container .dot-list li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 4px;
    background: #999999;
    transition: 300ms;
    cursor: pointer;
}
.btn-container .dot-list li.active{
    background: black;
}





@keyframes disk-ani{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}